.productsInBox_row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.boxContainer{
}
.submitButton_row{
    display: flex;
    justify-content: center;
}
.card_container{
    margin :10px
}