.headerWrapper{
   margin: 0 50px;
}
.title{
  display: flex;
   justify-content: center;
   margin-bottom: 25px;
    font-size: 30px;


}
.content{
}
.navMenu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 65px
}
.navMenu a{
    color:black
}
.navMenu a:hover{
    color:yellow;
}
.active:focus{
    color:yellow;
}
.active:hover{
    color:yellow;
}
.active{
    color:yellow;
}

.div a
{color:white}
.box{
    padding-top: 4px;
   width: 70px;
}