.container{

}
.products_row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.product_card{
    /*box-shadow:10px 5px 5px teal;*/
    overflow:hidden;
    margin: 5px auto;
    border-radius: 30px;


}
.productCard_container{
    width: 300px;
    /*height: 300px;?*/

}